@import "tailwindcss";

@theme {
    --color-primary: #FF8E0B;
    --color-secendy-bg:#303030;
    --color-secendy: #252525;
    --color-graytext: #606060;
    --color-startcolor: #F5DC56;
    --color-bg-gray: #F9F9F9;
    --text-10px: 10px;
    --text-17rem: 1.6rem;
    --breakpoint-toptablet: 870px;
    --breakpoint-xxs: 350px;
    --breakpoint-xxsm: 450px;
    --spacing-7xl: 1350px;

}

body{
    background-color: #F9F9F9;
}


 .active {
     @apply toptablet:w-1/4 w-40 bg-primary px-4 items-center  text-center flex pb-2 pt-1 text-white;
 }
.active a{
    @apply font-semibold flex items-center toptablet:gap-3 gap-1;
}
 li.active i{
    display: block;
 }

 li i{
    display: none;
 }

 .activemobile{
    @apply text-primary font-semibold;
 }