@import "tailwindcss";

@theme {
    --color-primary: #FF8E0B;
    --color-secendy-bg:#303030;
    --color-secendy: #252525;
    --color-graytext: #606060;
    --color-startcolor: #F5DC56;
    --color-bg-gray: #F9F9F9;
    --text-10px: 10px;
    --text-17rem: 1.6rem;
    --breakpoint-toptablet: 870px;
    --breakpoint-xxs: 350px;
    --breakpoint-xxsm: 450px;
    --spacing-7xl: 1350px;

}

body{
    background-color: #F9F9F9;
}

